[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
jsonschema = "*"
ambient-toolbox = "*"
django-dirtyfields = "*"
pycountry = "*"
django-treebeard = "*"

[dev-packages]
black = "*"
isort = "*"
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
